{
    "presets": [
        "react", "stage-0"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ],
        [
            "import",
            {
                "libraryName": "antd-mobile",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ]
}
