.angel-menu{
  display flex
  line-height 64px
  .angel-menu-item{
    padding 0 20px
    a{
      &:hover{
        color #0058ff
      }
    }
  }
  .angel-submenu-title{
    padding 0 20px
  }
  &.angel-menu-horizontal{
    .angel-menu{
      flex-direction column
    }
  }
}
