.navigation-web{
  display none
  position fixed
  top 0
  width 100%
  background-color #d0d4da
  .logo{
      float left
      img{
        height 64px
        width 200px
        margin-right 100px
        display block
      }
  }
}

@media only screen and (min-width: 768px) {
    .navigation-web{
        display block
    }
}
